In [7]:
import pandas as pd

In [8]:
recipe_df = pd.read_csv("recipe_df_notencoded.csv")

In [10]:
recipe_df

,Unnamed: 0,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,...,harissa,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama
0,5,Indian,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,Mexican,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,Asian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17,American,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,Italian,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,9978,Mexican,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2948,9981,Italian,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2949,9984,Italian,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2950,9988,Mexican,1,1,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2951,9989,American,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
empty_recipe_df = pd.read_csv("empty_recipe_df.csv")

In [12]:
empty_recipe_df

,Unnamed: 0,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,italian cheese,...,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama,cuisine_predict
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,French
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
2,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Indian
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,French
4,4,1,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7043,9995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
7044,9996,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Italian
7045,9997,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American
7046,9998,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,American
7047,9999,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American

In [13]:
empty_recipe_df.rename(columns={"cuisine_predict": "cuisine_SP"})

,Unnamed: 0,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,italian cheese,...,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama,cuisine_SP
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,French
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
2,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Indian
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,French
4,4,1,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,Italian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7043,9995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
7044,9996,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Italian
7045,9997,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American
7046,9998,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,American
7047,9999,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American

In [19]:
new_df=pd.concat([recipe_df,empty_recipe_df], axis=0, ignore_index=True)

In [21]:
new_df.loc[new_df['cuisine_SP'].isnull(),'cuisine_SP'] = new_df['cuisine_predict']

In [22]:
new_df

,Unnamed: 0,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,...,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama,cuisine_predict
0,5,Indian,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,10,Mexican,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,16,Asian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,17,American,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,20,Italian,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Italian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
9996,9996,Italian,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Italian
9997,9997,American,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American
9998,9998,American,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,American
9999,9999,American,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,American

In [26]:
new_df.drop(["cuisine_predict"], axis=1)

,Unnamed: 0,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,...,harissa,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama
0,5,Indian,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10,Mexican,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,Asian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17,American,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,Italian,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Italian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,9996,Italian,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,9997,American,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,9998,American,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,9999,American,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
new_df.to_csv("all_cuisines.csv")

In [29]:
new_df.sum(axis=0)

Unnamed: 0                                             49995000
cuisine_SP    IndianMexicanAsianAmericanItalianItalianAmeric...
onion                                                      3027
garlic                                                     3020
vanilla                                                    1970
                                    ...
savory                                                        6
baharat                                                       6
douchi                                                        6
sucralose                                                     5
jicama                                                        3
Length: 264, dtype: object

In [32]:
sum_df = new_df.sum(axis=0).to_frame().transpose()

In [33]:
sum_df

,Unnamed: 0,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,...,harissa,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama
0,49995000,IndianMexicanAsianAmericanItalianItalianAmeric...,3027,3020,1970,1648,1311,1375,1077,1151,...,7,7,7,7,7,6,6,6,5,3

In [50]:
sum_ingredients = sum_df.transpose()

In [51]:
sum_ingredients.to_csv("sum_ingredients.csv")