In [36]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [59]:
file = '../10000_recipes_with_good_cuisine_names.csv'
recipe_df = pd.read_csv(file, index_col=0)
recipe_df

,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,italian cheese,...,harissa,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama
0,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,1,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,NaN,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9997,NaN,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,NaN,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
recipe_df.cuisine_SP.unique()

array([nan, 'Indian', 'Mexican', 'Asian', 'American', 'Italian',
       'Southern', 'European', 'French', 'Greek', 'Creole', 'Irish',
       'Spanish', 'English', 'Middle Eastern', 'African'], dtype=object)

In [65]:
recipes_df[recipes_df['cuisine_SP']!=np.nan]

,cuisine_SP,onion,garlic,vanilla,lemon,bell pepper,tomato,chocolate,mushrooms,italian cheese,...,harissa,sprouts,squash blossoms,grapefruit,tamarind pulp,savory,baharat,douchi,sucralose,jicama
0,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,1,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,NaN,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9997,NaN,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,NaN,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0